.background2.container
  / .layer
  .row
    .backgroundContent
      %h2 Kurt Weber BIO

      %br
      %br

      .kurtCloseUp

      %h2 Work
      %p I work for a startup called Zipnosis which provides an online healthcare platform for healthcare organizations to compete in the telemedicine industry.  I joined Zipnosis as an intern in 2014. I was able to rejoin them one year after the spring of 2014 on a full time basis and i've been happy to stay with them ever since.

      %br
      %br

      %h2 Musician and Composer
      %p I have been a musician for a few years as well. I specialize in the piano and my greatet passion within the piano is composing my own original work. My first book was released in 2017, which was called Pebbles.  I also have all of my work on Spotify and other web streaming outlets. I continue to work on new material as I have time, however I don't think i'll ever make it a full time career as I have other hobbies and interests.

      .pianoImage

      %br
      %br

      %h2 Passions
      %p I am very dedicated to my church and have been involved within a fundraising effort to build a new church building near the University of Minnesota in Minneapolis.  The project is very near and dear to me and I am very excited to see it unfold and become a reality.

      %br
      %br

      .sailingImage

      %br
      %br

      %p An avid hockey fan, I spend my free time sailing or snowboarding depending on the seasons that Minnesota has to offer. I currently reside in Minneapolis MN.
