.background
  .layer
.container
  .row
    .frame
      %h2 Kurt Weber
      %p
      .break
        %ul{:style => "list-style-type:none"}
          %li Piano Composer.
          %li Web Developer.
          %li Entrepreneur.
          %li Tech Enthusiast.
          %li Life Long Learner.
      .col-md-3
        .fa.fa-twitter
        %p email me at: kdweber89@gmail.com
      .col-sm-2.text-center
        %h3 bio
      .col-sm-2.text-center
        %h3 blog
      .col-sm-2.text-center
        %h3 Pebbles
  .row
    .col-sm-1.fa.fa-twitter.fa-2x
    .col-sm-1.fa.fa-facebook.fa-2x
